@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom */
@font-face {
    font-family: Estedad;
    src: url("../../fonts/estedad/estedad.ttf") format("truetype"),
         url("../../fonts/estedad/estedad.woff2") format("woff2");
}

body {
    direction: rtl;
    @apply font-estedad;
}